@model AnnaLeaoStore.Model.Produtos
@{
    ViewBag.Title = "Produtos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Produtos</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/Home/Index">Home</a>
            </li>
            <li>
                <a>Cadastros</a>
            </li>
            <li class="active">
                <strong>Produtos</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>

<form id="frmCadastrarProduto" method="post" novalidate="novalidate">
    <div class="alert-success col-sm-12"><label>Cadastro de Produtos</label></div>
    <br class="b-r-lg" />
    <hr />
    @Html.HiddenFor(a => a.ID)
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-1">
                <label>Refer. Id:</label>
            </div>
            <div class="col-sm-6">
                @Html.TextBoxFor(a => a.ReferId, new { @class = "form-control" })
            </div>
            <div class="col-sm-5">

            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-1">
                <label>Descrição:</label>
            </div>
            <div class="col-sm-6">
                @Html.TextBoxFor(a => a.Descricao, new { @class = "form-control" })
            </div>
            <div class="col-sm-5">

            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-1">
                <label>Cor:</label>
            </div>
            <div class="col-sm-6">
                @Html.TextBoxFor(a => a.Cor, new { @class = "form-control" })
            </div>
            <div class="col-sm-5">

            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-1">
                <label>Grade:</label>
            </div>
            <div class="col-sm-3">
                @Html.TextBoxFor(a => a.Grades.ID, new { @class = "form-control form-inline codigoGrade" })
            </div>
            <div class="col-sm-8">
                <span class="descricaoGrade">@Model.Grade.Descricao</span>&nbsp;&nbsp;<i class="fa fa-search pesquisaGrade"></i>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-1">
                <label>Fornecedor:</label>
            </div>
            <div class="col-sm-3">
                @Html.TextBoxFor(a => a.Pessoas.ID, new { @class = "form-control codigoFornecedor" })
            </div>
            <div class="col-sm-8">
                <span class="nomeFornecedor">@Model.Pessoas.Nome</span>&nbsp;&nbsp;<i class="fa fa-search pesquisaFornecedor"></i>
            </div>
        </div>

        <!--
    <div class="form-group">
        <div class="col-sm-1">
            <label>Ativo?:</label>
        </div>
        <div class="col-sm-2">
            Html.CheckBoxFor(a => a.Ativo)
        </div>
        <div class="col-sm-9">

        </div>
    </div>
        -->

        <div class="form-group">
            <div class="col-sm-1">
                <label>Observação:</label>
            </div>
            <div class="col-sm-11">
                @Html.TextBoxFor(a => a.Observacao, new { @class = "form-control" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-sm-1">
                <label>Link para o Produto:</label>
            </div>
            <div class="col-sm-11">
                @Html.TextBoxFor(a => a.LinkProduto, new { @class = "form-control" })
            </div>
        </div>

        <hr />

        <div class="form-group">
            <div class="submit col-sm-12">
                <input type="submit" name="Gravar" value="Salvar" class="btn btn-primary" /> &nbsp;&nbsp;&nbsp;
                <input type="button" name="Sair" value="Sair" id="Sair" class="btn btn-danger" />
            </div>
        </div>

    </div>

</form>
<input type="hidden" name="idRetorno" id="idRetorno" />

<div class="modal" id="modal-container" tabindex="-1" role="dialog" aria-labelledby="modal-title">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="modal-content-container"></div>
    </div>
</div>



@section Styles {
    @Styles.Render("~/plugins/sweetAlertStyles")
    @Styles.Render("~/Scripts/plugins/jquery-ui/jqueryuiStyles")
}
@section Scripts {
    @Scripts.Render("~/plugins/sweetAlert")
    <script src="~/Scripts/annaleaostorescripts/openPopup.js"></script>
    <script src="~/Scripts/annaleaostorescripts/annaleaostorejs.js"></script>

    <script>
$(document).ready(function () {
            var titulo;
            var $idRetorno = $("#idRetorno");
            var $tipoGrade = 0;
            if ($("#ID").val() > 0)
                titulo = "Atualizado";
            else
                titulo = "Cadastrado";

            $("#frmCadastrarProduto").submit(function (e) {

                var url = "/Cadastros/Produtos/Atualizar/";

                $.ajax({
                    type: "POST",
                    url: url,
                    data: $("#frmCadastrarProduto").serialize(),
                    success: function (response) {
                        if (response.status) {
                            Voltar();
                        } else {
                            swal("Falhou!", response.responseText, "error");
                        }
                    }
                });
                e.preventDefault();
            });

            $("#Sair").on("click", function () {
                Voltar();
            })

            function Voltar() {
                location = "/Cadastros/Produtos/Consulta";
            }

            /**** Pesquisa de Fornecedor ***/
            $(".pesquisaFornecedor").on("click", function () {
                var url = "/Cadastros/Pessoas/ListarFornecedores";
                $tipoGrade = 1;
                $idRetorno.val("");

                $.get(url, function (data) {
                    $('#modal-container').modal('show');
                    $('#modal-content-container').html(data);
                });
            });

            $('#modal-container').on('hidden.bs.modal', function () {
                if($tipoGrade === 1){
                $(this).removeData('bs.modal');
                if ($idRetorno.val() !== "") {
                    pesquisaFornecedor($idRetorno.val());
                }
                }
            });

            $("#Pessoas_ID").keyup(function () {
                pesquisaFornecedor($(this).val());
            });

            function pesquisaFornecedor($idFornecedor) {
                $.get("/Cadastros/Pessoas/DetalheFornecedorNome/" + $idFornecedor, function (data) {
                    if (data.status) {
                        $(".codigoFornecedor").val($idFornecedor);
                        $(".nomeFornecedor").text(data.Nome);
                    } else {
                        $(".nomeFornecedor").text("Não Encontrado");
                    }
                }).fail(function () {
                    $(".nomeFornecedor").text("");
                });
            }
            /**** Fim da Pesquisa de Fornecedor *****/

            /**** Pesquisa de Grade ***/
            $(".pesquisaGrade").on("click", function () {
                var url = "/Cadastros/Grade/ListarGrade";
                $tipoGrade = 2;
                $idRetorno.val("");

                $.get(url, function (data) {
                    $('#modal-container').modal('show');
                    $('#modal-content-container').html(data);
                });
            });

            $('#modal-container').on('hidden.bs.modal', function () {
                if($tipoGrade === 2){
                $(this).removeData('bs.modal');
                if ($idRetorno.val() !== "") {
                    pesquisaGrade($idRetorno.val());
                }
                }
            });

            $("#Grade_ID").keyup(function () {
                pesquisaGrade($(this).val());
            });

            function pesquisaGrade($idGrade) {
                $.get("/Cadastros/Grades/DetalheGrade/" + $idGrade, function (data) {
                    if (data.status) {
                        $(".codigoGrade").val($idGrade);
                        $(".descricaoGrade").text(data.Descricao);
                    } else {
                        $(".descricaoGrade").text("Não Encontrado");
                    }
                }).fail(function () {
                    $(".descricaoGrade").text("");
                });
            }
            /**** Fim da Pesquisa de Fornecedor *****/


        });</script>
}