@model List<AnnaLeaoStore.Model.ProdutosMOD>
@{
    /**/

    ViewBag.Title = "Produtos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Produtos</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/Home/Index">Home</a>
            </li>
            <li>
                <a>Cadastros</a>
            </li>
            <li class="active">
                <strong>Produtos</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<!--Tabela de Produtos-->
<div class="tablecontainer container-fluid">
    <a class="popup btn btn-primary" href="/Cadastros/Produtos/Cadastrar/0" style="margin-bottom:20px; margin-top:20px;">Novo</a>
    <table class="table table-striped dt-responsive nowrap " data-page-size="15" id="tbProdutos">
        <thead>
            <tr>
                <th>Código</th>
                <th>Refer. ID</th>
                <th>Descrição</th>
                <th>Cor</th>
                <th>Fornecedor</th>
                <th>Última Compra</th>
                <th>Situação</th>
                <th>Total Estoque</th>
                <th></th>
                <th></th>
            </tr>
        </thead>

    </table>
</div>
@section Styles {
    @Styles.Render("~/plugins/sweetAlertStyles")
    @Styles.Render("~/Scripts/plugins/jquery-ui/jqueryuiStyles")
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
}
@section Scripts {
    @Scripts.Render("~/plugins/sweetAlert")
    @Scripts.Render("~/plugins/dataTables")
    <script src="~/Scripts/annaleaostorescripts/openPopup.js"></script>

    <script>
$(document).ready(function () {

            // Tabela Para exibir os dados
            var oTable = $('#tbProdutos').DataTable({
                "ajax": {
                    "url": '/Cadastros/Produtos/ListarProdutos',
                    "type": "get",
                    "datatype": "json"
                },
                "columnDefs": [{
                    "targets": [7, 8],
                    "className": "text-right",
                    "orderable": false
                }],
                "columns": [
                    {
                        "data": "ID", "autoWidth": true, "render": function (data) {
                            return '<a class="detalhes" href="/Cadastros/Produtos/Detalhes/' + data + '">' + data + '</a>';
                        }
                    },
                    { "data": "ReferId", "autoWidth": true },
                    { "data": "Descricao", "autoWidth": true },
                    { "data": "Cor", "autoWidth": true },
                    {
                        "data": "Pessoas", "autoWidth": true, "render": function (data) {
                            return data.Nome;
                        }
                    },

                    { "data": "DataUltimaCompra", "autoWidth": true },
                    { "data": "DescricaoSituacao", "autoWidth": true },
                    { "data": "QtdeEstoque", "autoWidth": true },
                    {
                        "data": "ID", "autoWidth": true, "render": function (data) {
                            return '<a class="popup" href="/Cadastros/Produtos/Cadastrar/' + data + '"><i class="fa fa-edit"></i></a>';
                        }
                    },
                    {
                        "data": "ID", "autoWidth": true, "render": function (data) {
                            return '<a class="remove" href="/Cadastros/Produtos/Deletar/' + data + '"><i class="fa fa-remove"></i></a>';
                        }
                    }
                ]
            });
            $(".tablecontainer").on("click", "a.detalhes", function (e) {
                e.preventDefault();
                var url = e.currentTarget.href;
                OpenPopupSimple(url, "Detalhes do Produto");
            });


            // Quando clicar no excluir , abre a tela para o usuario confirmar e executa via AJAX
            $('.tablecontainer').on('click', 'a.remove', function (e) {
                e.preventDefault();
                var url = e.currentTarget;
                swal({
                    title: "Deseja Excluir?",
                    text: "Excluindo, todos os dados do Produto serão perdidos!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Sim",
                    closeOnConfirm: false,
                    cancelButtonText: "Cancelar"
                }, function () {
                    $.ajax({
                        type: "GET",
                        url: url,
                        success: function (response) {
                            if (response.success) {
                                swal("Sucesso!", response.responseText, "success");
                            } else {
                                swal("Falhou!", response.responseText, "error");
                            }
                            location = "/Cadastros/Produtos/ListarProdutos/";

                        }
                    });
                });
            });



        })</script>
}