@model List<AnnaLeaoStore.Model.ProdutosMOD>
@{
                /**/

                ViewBag.Title = "Produtos";
                Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Produtos</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/Home/Index">Home</a>
            </li>
            <li>
                <a>Cadastros</a>
            </li>
            <li class="active">
                <strong>Produtos</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<!--Tabela de Produtos-->
<div class="tablecontainer container-fluid">
    <a class="popup btn btn-primary" href="/Cadastros/Produtos/Cadastrar/0" style="margin-bottom:20px; margin-top:20px;">Novo</a>
    <table class="table table-striped dt-responsive nowrap " data-page-size="15" id="tbProdutos">
        <thead>
            <tr>
                <th>Código</th>
                <th>Refer. ID</th>
                <th>Descrição</th>
                <th>Cor</th>
                <th>Fornecedor</th>
                <th>Situação</th>
                <th>Total Estoque</th>
                <th></th>
                <th></th>
            </tr>
        </thead>

        <tbody>
                @{
            foreach(var produto in Model)
                {
            <tr>
                <td><a class="detalhes" href="/Cadastros/Produtos/Detalhes/@produto.ID">@produto.ID</a></td>
                <td>@produto.ReferId</td>
                <td>@produto.Descricao</td>
                <td>@produto.Cor</td>
                <td>@produto.Pessoas.Nome</td>
                <td>@produto.DescricaoSituacao</td>
                <td>@produto.QtdeEstoque</td>
                <td><a class="popup" href="/Cadastros/Produtos/Cadastrar/@produto.ID"><i class="fa fa-edit"></i></a></td>
                <td><a class="remove" href="/Cadastros/Produtos/Deletar/@produto.ID"><i class="fa fa-remove"></i></a></td>
            </tr>
                }
                }
        </tbody>
            
    </table>
</div>
@section Styles {
    @Styles.Render("~/plugins/sweetAlertStyles")
    @Styles.Render("~/Scripts/plugins/jquery-ui/jqueryuiStyles")
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
}
@section Scripts {
    @Scripts.Render("~/plugins/sweetAlert")
    @Scripts.Render("~/plugins/dataTables")
    <script src="~/Scripts/annaleaostorescripts/openPopup.js"></script>

    <script>$(document).ready(function() {

            // Tabela Para exibir os dados
            var oTable = $('#tbProdutos').DataTable({
                "columnDefs": [{
                    "targets": [7, 8],
                    "orderable": false
                }]
            }); 

            $(".tablecontainer").on("click", "a.detalhes", function(e) {
                e.preventDefault();
                var url = e.currentTarget.href;
                OpenPopupSimple(url, "Detalhes do Produto");
            });


            // Quando clicar no excluir , abre a tela para o usuario confirmar e executa via AJAX
            $('.tablecontainer').on('click', 'a.remove', function(e) {
                e.preventDefault();
                var url = e.currentTarget;
                swal({
                    title: "Deseja Excluir?",
                    text: "Excluindo, todos os dados do Produto serão perdidos!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Sim",
                    closeOnConfirm: false,
                    cancelButtonText: "Cancelar"
                }, function() {
                    $.ajax({
                        type: "GET",
                        url: url,
                        success: function(response) {
                            if (response.success) {
                                swal("Sucesso!", response.responseText, "success");
                            } else {
                                swal("Falhou!", response.responseText, "error");
                            }
                            location = "/Cadastros/Produtos/ListarProdutos/";

                        }
                    });
                });
            });



})</script>
}