@model AnnaLeaoStore.Model.Pessoas
@{
    ViewBag.Title = "Fornecedores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Fornecedores</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/Home/Index">Home</a>
            </li>
            <li>
                <a>Cadastros</a>
            </li>
            <li class="active">
                <strong>Fornecedores</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<form id="frmCadastrarFornecedor" method="post" novalidate="novalidate">
    <div class="modal-content">
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-12">
                    <div class="alert-success"><label>Cadastro de Fornecedores</label></div>
                    <br class="b-r-lg" />
                    <hr />
                    <input type="hidden" name="TipoPessoa" value="2" />
                    @if (Model != null && Model.ID > 0)
                    {
                        @Html.HiddenFor(a => a.ID)
                    }
                    <div class="file-name">
                        <label>Razão Social(Nome Fantasia):</label>
                        @Html.TextBoxFor(a => a.Nome, new { @class = "form-control" })
                    </div>
                    <div class="file-name">
                        <label>Endereço:</label>
                        @Html.TextBoxFor(a => a.Endereco, new { @class = "form-control" })
                    </div>
                    <div class="file-name">
                        <label>Bairro:</label>
                        @Html.TextBoxFor(a => a.Bairro, new { @class = "form-control" })
                    </div>
                    <div class="file-name">
                        <label>Cidade:</label>
                        @Html.TextBoxFor(a => a.Cidade, new { @class = "form-control" })
                    </div>
                    <div class="file-name">
                        <label>Estado:</label>
                        @Html.TextBoxFor(a => a.Estado, new { @class = "form-control" })
                    </div>
                    <div class="file-name">
                        <label>CEP:</label>
                        @Html.TextBoxFor(a => a.Cep, new { @class = "form-control" })
                    </div>
                    <div class="file-name">
                        <label>País:</label>
                        @Html.TextBoxFor(a => a.Pais, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label>Ativo?</label>
                        @Html.CheckBoxFor(a => a.Ativo)
                        &nbsp; &nbsp;
                    </div>
                    <div class="file-name">
                        <label>Observação:</label>
                        @Html.TextBoxFor(a => a.Observacao, new { @class = "form-control" })
                    </div>
                        <div class="submit">
                            @if (Model != null && Model.ID > 0)
                            {
                                <input type="button" name="Contatos" value="Contatos" id="btnContatos" class="btn btn-success" />
                            }
                            &nbsp;&nbsp;&nbsp;<input type="submit" name="Gravar" value="Salvar" class="btn btn-primary" /> &nbsp;&nbsp;&nbsp;
                            <input type="button" name="Sair" value="Sair" id="Sair" class="btn btn-danger" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
</form>
@section Styles {
    @Styles.Render("~/plugins/sweetAlertStyles")
    @Styles.Render("~/Scripts/plugins/jquery-ui/jqueryuiStyles")
}
@section Scripts {
    @Scripts.Render("~/plugins/sweetAlert")
    <script src="~/Scripts/annaleaostorescripts/openPopup.js"></script>

    <script>$(document).ready(function() {
            var titulo;
            if ($("#ID").val() > 0)
                titulo = "Atualizado";
            else
                titulo = "Cadastrado";

            $("#frmCadastrarFornecedor").submit(function(e) {

                var url = "/Cadastros/Pessoas/Atualizar/";

                $.ajax({
                    type: "POST",
                    url: url,
                    data: $("#frmCadastrarFornecedor").serialize(), // serializes the form's elements.
                    success: function(response) {
                        if (response.status) {
                            swal({
                                title: "Forncedor " + titulo + " com Sucesso!",
                                text: "Deseja Adicionar um Novo Contato?",
                                type: "warning",
                                showCancelButton: true,
                                confirmButtonClass: "btn-danger",
                                confirmButtonText: "Sim!",
                                cancelButtonText: "Não!",
                                closeOnConfirm: true,
                                closeOnCancel: true
                            },
                                function(isConfirm) {
                                    if (isConfirm) {
                                        var id = response.ID;
                                        OpenPopup("/Cadastros/Contatos/ListarPorIdCliente/" + id, "Cadastrar Contatos");
                                    } else {
                                        Voltar();
                                    }
                                });
                        } else {
                            swal("Falhou!", response.responseText, "error");
                        }
                    }
                });
                e.preventDefault();
            });

            $("#Sair").on("click", function() {
                Voltar();
            })

           

            $("#btnContatos").on("click", function() {
                var id = $("#ID").val();
                OpenPopup("/Cadastros/Contatos/ListarPorIdCliente/" + id, "Cadastrar Contatos");
            });

            function Voltar() {
                location = "/Cadastros/Pessoas/Fornecedores";
            };

});</script>
}