@model IEnumerable<AnnaLeaoStore.Model.ListaPrecosItem>

    <input type="hidden" id="Pedido_ID" value="@ViewBag.Pedido" />

    <div class="tablecontainer container-fluid">
        <a class="popup btn btn-primary SalvarItem" href="#" style="margin-bottom: 20px; margin-top: 20px;">Incluir Item</a>

        <table class="table table-striped dt-responsive nowrap " data-page-size="15" id="tbPrecos">
            <thead>
                <tr>
                    <th>Cod.Produto</th>
                    <th>Descrição</th>
                    <th>Preço de Compra</th>
                    <th>Preço de Venda</th>
                    <th>Lucro Estimado</th>
                    <th>Desconto Máximo Permitido</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
            <tr>
                <td>@{ @item.Produtos.ID}</td>
                <td>@{ @item.Produtos.Descricao}</td>
                <td>@{ @item.Preco_Compra}</td>
                <td>@{ @item.Preco_Venda}</td>
                <td>@{ @item.Lucro_Estimado}</td>
                <td>@{ @item.Desconto_Max_Permitido}</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
            }
        </table>
    </div>


